.nav {
    padding: 20px;
    background-color: #5ae88c;
    grid-area: n;
}

.item {
    font-size: 30px;
    font-weight: 900;
    color: #371414;
}

.activeLink {
    color: #b18a28
}

.friend {
    font-size: 30px;
    font-weight: 700;
    color: #371414
}


.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.navbarFriend {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}