.nav{
    grid-area: n;
    background-color: #5ae88c;
    padding: 20px;
}

.item {
    font-weight: 900;
    font-size: 30px;
    color: #371414;
}

.activeLink{
    color: #b18a28
}
.friend {
    font-weight: 700;
    font-size: 30px;
    color: #371414
}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbarFriend{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}